body{
  background-color: #000;
}


.card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem;
    padding: 1rem;
    width: 250px;
    height: 400px;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-top: 5rem;
    color: #191919;
    border: 3px solid #F5E663;
    border-radius: 6px;
}

.card-image {
    object-fit: contain;
    height: 40%;
    width: 100%;
    border-radius: 10px;
    transition: .3s ease;

}

.card-image:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-name {
    font-size: 1.2rem;
}

.card-tipo {
    font-size: .8rem;
    font-weight: bold;
}

.card-description {
    font-size: .9rem;
}

.card-price {
    font-size: 1.4rem;
    font-weight: bold;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}



.card-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.card-stock{
    font-size: 0.8rem;
    font-weight: bold;
}

.icon-btn {
    width: 50px;
    height: 50px;
    border: 3px solid #191919;
    background: #F5E663;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
    font-weight: 500;
    font-family: inherit;
  }
  
  .add-btn:hover {
    width: 120px;
  }
  
  .add-btn::before,
  .add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: seagreen;
  }
  
  .add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  .icon-btn:focus {
    outline: none;
  }
  
  .btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .add-btn:hover::before,
  .add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
  }
  
  .add-btn:hover .btn-txt {
    opacity: 1;
  }
  
  .add-icon::after,
  .add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: seagreen;
    overflow: hidden;
  }
  
  .add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  .add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
  
  .add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }


.btn-minus{
  margin: .6rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #F5E663;
}
.btn-plus{
  margin: .6rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #F5E663;
}
